.navbar{
    font-weight: 700;
    font-size:.9rem;
    letter-spacing :.1rem;
}
.navbar-brand img{
    height:2.2rem;
    width:5.6rem;
}
.cover{
    background: url('/media/bg.jpg');
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}